@use '../common/mixin' as m;

/* ========================================
    Base / Common
======================================== */
html {
  font-size: clamp(14px, 1.2vw, 18px);
}

body {
  font-family: 'play', sans-serif;
  line-height: 1.5;
  background-color: #191919;
  color: #fff;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.wrapper {
  border: 2px solid red;
  max-width: 100%;
  margin: 0 auto;
  padding: 200px 30px 25px;

  h2 {
    display: inline-block;
    font-size: 4rem;
    margin-left: 90px;
    padding: 0 30px;
    background: linear-gradient(transparent 55%, #5300ff 55%);
  }
}

/* ========================================
    NEWS DETAILS Page（下層ページ第２層）
======================================== */
.news__detail {
  width: min(100%, 1100px);
  padding-inline: 4%;
  margin: 0 auto;

  &-wrapper {
    text-align: center;
    padding: 48px 0 56px;

    h1 {
      color: #5200ff;
      letter-spacing: 0.1em;
      font-weight: 800;
      font-size: 4rem;
      margin: 4% 0 2.5%;
    }

    .news__detail-title {
      max-width: 48rem;
      margin: 0 auto;
      font-size: 1.25rem;
      line-height: 1.9;
      opacity: 0.9;
    }

    .news__detail-date {
      margin-top: 0.625rem;
      font-size: 1rem;
      font-weight: 900;
      color: #5200ff;
      text-align: center;
    }

    .news__detail-poster {
      display: block;
      margin: 1.75rem auto 0;
      width: min(100%, 45rem);
      height: auto;
      box-shadow: 0 8px 24px rgba(0, 0, 0, 0.45);
    }

    .news__detail-article {
      margin: 5rem auto 0;
      max-width: 37.5rem;
      width: 80%;
      text-align: left;
      font-size: 0.6rem;
      line-height: 2;
      letter-spacing: 0.02em;
      color: #ddd;
      text-align: left;
    }
  }

  /* BACK リンク */
  .link-text {
    display: flex;
    justify-content: center;
    padding-bottom: 4rem;
    width: 100%;

    a {
      display: inline-block;
      font-size: 1rem;
      font-weight: 900;
      color: #5200ff;
      text-decoration: none;
      position: relative;
      letter-spacing: 0.08em;
      transition: opacity 0.4s ease;

      &:hover {
        opacity: 0.75;
      }
    }
  }
}

/* ========================================
    Responsive (News Details)
======================================== */
/* NotePC */
@include m.npc {
  .news__detail {
    width: min(100%, 1100px);
    padding-inline: 4%;
    margin: 0 auto;

    &-wrapper {
      text-align: center;
      padding: 48px 0 56px;

      h1 {
        color: #5200ff;
        letter-spacing: 0.1em;
        font-weight: 800;
        font-size: 3.5rem;
        margin: 4% 0 2.5%;
      }

      .news__detail-title {
        max-width: 48rem;
        margin: 0 auto;
        font-size: 1.6rem;
        line-height: 1.9;
        opacity: 0.9;
      }

      .news__detail-date {
        margin-top: 0.625rem;
        font-size: 1rem;
        font-weight: 900;
        color: #5200ff;
        text-align: center;
      }

      .news__detail-poster {
        display: block;
        margin: 1.75rem auto 0;
        width: min(100%, 55rem);
        height: auto;
        box-shadow: 0 8px 24px rgba(0, 0, 0, 0.45);
      }

      .news__detail-article {
        margin: 5rem auto 0;
        max-width: 50rem;
        width: 80%;
        text-align: left;
        font-size: 0.9rem;
        line-height: 2;
        letter-spacing: 0.02em;
        color: #ddd;
        text-align: left;
      }
    }

    /* BACK リンク */
    .link-text {
      display: flex;
      justify-content: center;
      padding-bottom: 4rem;
      width: 100%;

      a {
        display: inline-block;
        font-size: 1.5rem;
        font-weight: 900;
        color: #5200ff;
        text-decoration: none;
        position: relative;
        letter-spacing: 0.08em;
        transition: opacity 0.4s ease;

        &:hover {
          opacity: 0.75;
        }
      }
    }
  }
}

/* Smartphone */
@include m.sp {
  .news__detail {
    width: min(100%, 1100px);
    padding-inline: 4%;
    margin: 0 auto;

    &-wrapper {
      text-align: center;
      padding: 96px 0 56px;

      h1 {
        color: #5200ff;
        letter-spacing: 0.1em;
        font-weight: 800;
        font-size: 4.5rem;
        margin: 4% 0 2.5%;
      }

      .news__detail-title {
        max-width: 40rem;
        margin: 0 auto;
        font-size: 2.75rem;
        line-height: 1.55;
        opacity: 0.9;
      }

      .news__detail-date {
        margin: 0.625rem 0 7.5rem;
        font-size: 1.2rem;
        font-weight: 900;
        color: #5200ff;
        text-align: center;
      }

      .news__detail-poster {
        display: block;
        margin: 1.75rem auto 0;
        width: min(100%, 55rem);
        height: auto;
        box-shadow: 0 8px 24px rgba(0, 0, 0, 0.45);
      }

      .news__detail-article {
        margin: 4.5rem 0 0;
        max-width: 100%;
        width: 100%;
        text-align: left;
        font-size: 1rem;
        line-height: 2;
        letter-spacing: 0.02em;
        color: #ddd;
        text-align: left;
      }
    }

    /* BACK リンク */
    .link-text {
      display: flex;
      justify-content: center;
      padding-bottom: 4rem;
      width: 100%;

      a {
        display: inline-block;
        font-size: 2.25rem;
        font-weight: 900;
        color: #5200ff;
        text-decoration: none;
        position: relative;
        letter-spacing: 0.08em;
        transition: opacity 0.4s ease;

        &:hover {
          opacity: 0.75;
        }
      }
    }
  }
}
